<div class="row">
    <!-- //pela index levani -->
    <div class="col" *ngFor="let sd of stud; let i = index">
        <!-- routat link aapvani card in andar -->
        <div class="card" [routerLink]="['/studentdetail',{id:i}]" style="width: 18rem;">
            <img [src]="sd.img" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">{{sd.Enrollment_no}}</h5>
                <hr>
                <p class="card-text">{{sd.Name}}</p>
                <p class="card-text">Enrollment_no: {{sd.Enrollment_no}}</p>
            </div>x
        </div>
    </div>
</div>